@model coremvc.Models.Customer;
@{

}
<div>
    <h2>Customer display</h2>
    <ul>
        <li><h5>Customerid:@Model.Customerid</h5></li>
        <li><h5>Customername:@Model.Customername</h5></li>
        <li><h5>Custgender:@Model.Gender</h5></li>
        <li><h5>Customerno:@Model.Contactno</h5></li>
        <li><h5>Customeradd:@Model.Address</h5></li>
    </ul>
</div>
